html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-light-theme-color: #212121;
  --title-dark-theme-color: #ffffff;
  --text-light-theme-color: #757575;
  --text-dark-theme-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --background-dark-theme-color: rgba(47, 48, 58, 0.8);
  --rectangle-background-color: #f5f4fa;
  --svg-color: #afb1b8;
  --svg-color-accent: #2196f3;
}
body {
  background-color: var(--title-dark-theme-color);
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--text-light-theme-color);
}
.link {
  font-style: normal;
  text-decoration: none;
}
.list {
  list-style: none;
}
/*HEADER*/
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-color);
}
.logo-accent {
  color: var(--accent-color);
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-light-theme-color);
}
.nav-list-link:hover,
.nav-list-link:focus,
.chosen {
  color: var(--accent-color);
}
.header-adress-list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-light-theme-color);
}
.header-adress-list-item-link:hover,
.header-adress-list-item-link:focus {
  color: var(--accent-color);
}
/*HERO SECTION*/
.hero {
  background-color: var(--background-dark-theme-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-dark-theme-color);
}
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-dark-theme-color);
  background-color: var(--accent-color);
}
/*FEATURES SECTION*/
.features .subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-light-theme-color);
}
.description {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*SPECIALIZATION SECTION*/
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-color);
}
.specialization .subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-dark-theme-color);
  background-color: var(--background-dark-theme-color);
}
.specialization .subtitle:hover,
.specialization .subtitle:focus {
  background-color: rgba(33, 150, 243, 0.9);
}
/*TEAM SECTION*/
.team {
  background-color: var(--rectangle-background-color);
}

.team .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-color);
}

.team .description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/*CUSTOMERS SECTION*/

.customers-list-item-link {
  background-color: var(--svg-color);
}
.customers-list-item-link:hover,
.customers-list-item-link:focus {
  background-color: var(--svg-color-accent);
}

/*FOOTER*/
.footer {
  background-color: #2f303a;
}
.footer .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-dark-theme-color);
}
.footer .logo {
  color: var(--title-dark-theme-color);
}
.footer-contact-adress-list-item-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-dark-theme-color);
}
.footer .footer-contact-adress-list-item-link.map {
  color: var(--title-dark-theme-color);
}

.footer-contact-adress-list-item-link:hover,
.footer .footer-contact-adress-list-item-link.map:hover,
.footer-contact-adress-list-item-link:focus,
.footer .footer-contact-adress-list-item-link.map:focus {
  color: var(--accent-color);
}
/*PORTFOLIO*/

.projects-name-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-light-theme-color);
}
.projects-name-class {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-light-theme-color);
}
.projects-name-description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--title-dark-theme-color);
  background-color: rgba(33, 150, 243, 0.9);
}
